.carousel-container {
    width: 900px; /* Adjust the container width for three portrait images */
    margin: auto;
  }
  
  .carousel-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .carousel-image {
    margin-top: ;
    width: 90%; /* Make images slightly smaller in width */
    height: 400px; /* Reduced height for portrait mode */
    object-fit: cover; /* Ensure the images retain their aspect ratio */
  }
  
  .carousel-text-holder {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  